[core]
	editor = nvim
[user]
	email = 39439193+WBelucky@users.noreply.github.com
	name = wbelucky

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/

[github]
	user = wbelucky
[difftool "nvimdiff"]
	cmd = nvim -d \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "nvimdiff"]
	cmd = nvim -d \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[ghq]
	vcs = git
	root = ~/ghq
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[pull]
	rebase = false
