[core]
	editor = nvim
[user]
	email = 39439193+WBelucky@users.noreply.github.com
	name = wbelucky

# [url "ssh://git@github.com/"]
#	insteadOf = https://github.com/

[github]
	user = wbelucky
[difftool "nvimdiff"]
	cmd = nvim -d \"$LOCAL\" \"$REMOTE\"
	path =

# https://www.grzegorowski.com/using-vim-or-neovim-nvim-as-a-git-mergetool
[merge]
	tool = vimfugitive
[mergetool "vimfugitive"]
	cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"
	trustExitCode = true
[mergetool]
	prompt = false
[ghq]
	vcs = git
	root = ~/ghq
[credential "https://github.com"]
	helper = 
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !gh auth git-credential
[pull]
	rebase = false
